<div class="layout layout-stretch">
  <div class="columns stretch">
    <div class="column">
      <img class="image image-dither image--contain h--full w--auto rounded" 
        src="{{landscape_image}}" />
    </div>
  {% if sleepy_text != "" %}
  <div class="column stretch text--center">
    <div class="description">{{sleepy_text | markdown_to_html }}</div>
  </div>
  {% endif %}
  </div>
</div>
{% if title != "" %}
<div class="title_bar">
  <span class="title text--stroke">{{title}}</span>
</div>
{% endif %}