<div class="layout layout-stretch">
  <div class="flex flex--row portrait:flex--row stretch">
      <img class="image image-dither image--contain w--[30cqw] rounded" 
        src="{{portrait_image}}" />
  {% if sleepy_text != "" %}
    <div data-content-limiter="true" class="content md:content--xsmall lg:content-small gap--small content--left stretch">
      {{sleepy_text | markdown_to_html }}</div>
  {% endif %}
  </div>
</div>
{% if title != "" %}
<div class="title_bar">
  <span class="title text--stroke">{{title}}</span>
</div>
{% endif %}