<div class="layout layout-stretch">
  <div class="flex flex--col">
        {% if sleepy_text != "" %}{% assign image = landscape_image %}{%else%}{% assign image = portrait_image %}{%endif%}

  <img class="image image-dither image--contain w--full rounded"
    src="{{image}}" />
  {% if sleepy_text != "" %}
  <div class="description">{{sleepy_text | markdown_to_html }}</div>
  {% endif %}
  </div>
</div>
{% if title != "" %}
<div class="title_bar">
  <span class="title text--stroke">{{title}}</span>
</div>
{% endif %}